@font-face{
    src: url(../webfonts/TisaSansPro-Regular.ttf);
    font-family: tisa;
}
@font-face{
    src: url(../webfonts/Cairo-Regular.ttf);
    font-family: cairo;
}
body{
    font-family: tisa;
}
.editNavbar .dropdown{
    border: 1px solid #e3e2e2;
    border-radius: 8px;
    min-width: 10rem;
}
.dropSport img{
    height: 38px;
}
.editNavbar .nav-item .nav-link{
    color: black;
    font-weight: 400;
}
.editNavbar .nav-item .textGreen{
    color: #85C240;
}
.textG{
    color: #85C240;
}
.imgPosition{
    width: 30px;
    height: 30px;
}
.editNavbar .nav-item .nav-link.active{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
    color: #85C240;
    padding: 0.5rem;
    border-radius: 8px;
}
.editNavbar .dropdown-toggle::after{
    /* display: inline-block; */
    margin-left: 0.255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    float: right;
    border-left: .3em solid transparent;
}
.badgeLanguage{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
    border: 1px solid #e3e2e2;
    border-radius: 8px;
    color: #85C240;
    padding:0.75rem;
    font-family: cairo;
    height: 40px;
}
/* ========================== */
.sectionFirst {
    background: url(../images/bgImage.png);
    background-position: center;
    min-height: 20rem;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sectionFirst .overlay{
    background-color: rgb(0 0 0 / 48%);
    min-height: 20rem;
}
.btnFind{
    background-color: #85C240;
    width: 153px;
    text-transform: uppercase;
    color: white;
    height: 46px;
    border-radius: 8px;
}
.btnFind:hover{
    background-color: #6e9e36;
    color: white;
}
.findForm{
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 8px;
}
.findForm .form-select{
    height: 50px;
}
.imgSportCard{
    width: 25px;
    margin-right: 0.5rem;
}
.fontLg{
    font-size: 29px;
    line-height: 25px;
}
@media screen and (max-width:575px){
    .btnFind{
        width: 100%;
    }
}
/* =========================== */
.bgImage{
    background: url(../images/bg.png);
    object-fit: cover;
    width: 112px;
    height: 112px;
    position: relative;
    margin: auto;
}
.imageFixedHeight{
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.textSmall{
    color: #909192;
    font-size: 16px;
}
.textVsmall{
    font-size: 13px;
}
.imgMedia{
    width: 100px;
    height: 100px;
}
@media screen and (max-width:500px){
    .imgMedia{
        width: 60px;
        height: 60px;
    }
}
.jumbo{
    margin-top: 14rem;
    margin-bottom: 10rem;
    background: linear-gradient(85.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #41AD49;
    min-height: 235px;
}
.imgAbsolute{
    position: absolute;
    margin-top: -7rem;
}
.score{
    background: linear-gradient(85.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #41AD49;
}
.bgImg{
    margin-top: -1rem;
}
.facilities{
    border: 1px solid #C2C9D1;
    border-radius: 8px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    min-width: 140px;
}
.imgPich{
    width: 58px;
    height: 40px;
    object-fit: cover;
}
/* ================================================= */
.footer{
    background-color: #f7f6f6;
}
.footer .imgSocial{
    width: 120px;
    height: 40px;
}
.footer h6{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.footer p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.cardPlayground{
    /* White/Default */

    background: #FFFFFF;
    /* Elevation - 3 */

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}
/* =============================== */
.swiper-container {
    width: 100%;
    padding: 0rem 2.8rem 0rem 2.8rem;
    position: relative;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 480px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination{
    bottom: 0px !important;
}
.swiper-slide img{
    width: 100%;
    height: 205px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.sliderStad img{
    height: 370px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.topStaduims .swiper-button-prev img{
    position: absolute;
    z-index: 99995 !important;
    left: -14px;
}
.topStaduims .swiper-button-next img{
    position: absolute;
    z-index: 99995 !important;
    left: -14;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: "";
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    content: "";
}
.cardSwipper{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}
.cardSwipper h5{
    font-weight: bold;
    font-size: 20px;
}
.cardSwipper p{
    font-size: 16px;
}
.stars{
    color: #F0803C;
}
.btnBook{
    background-color: #eeeff0;
    margin-top: 1rem;
    font-weight: bold;
}
/* ============================== */
.cardList{
    border-radius: 20px;
}
.cardList .card-img-top{
    height: 190px;
    width: 100%; 
    border-radius:20px 0px 0px 20px;
    object-fit: cover;
}
.btnFilter{
    color: #41AD49;
    background-color: #edeeef;
}
.btnNext{
    background-color: #eff0f1;
    color: #41AD49;
}
.btnDisable{
    background-color: #eff0f1;
    color: #91a192;
}
.amountDistance{
    border: none;
    color: #41AD49;
    font-weight: bold;
}
.btnDay ,.btnTime{
    min-width: 5rem;
    border: 1px solid #EBEEF2;
}
.btnActive{
    border: 2px solid #87BE44;
}
.btnActive p:last-child{
    font-weight: bold;
}
.btnTimeActive{
    border: 2px solid #87BE44;
    color: #41AD49;
}
.btnTimeS{
    border: 1px solid #EBEEF2;
    min-width: 104px;
}
.btnTimeS p:last-child{
    color: #b6bac0;
}
.btnTimeSActive{
    border: 2px solid #87BE44;
    color: #41AD49;
}
.btnTimeSActive p:last-child{
    color: #41AD49;
}
.modalSlot .modal-body{
    max-height: 29rem;
    overflow: auto;
}
.dateSlot{
    border: 1px solid #EBEEF2;
    border-radius: 8px;
}
.dateSlot button{
    font-size: 12px;
    padding-top: 0.7rem;
    color: #b6bac0;
}
.availableSlots{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
    margin-bottom: 1rem;
    min-width: 15rem;
}
.form-check-input:checked{
    background-color:#85C240;
    border-color: #85C240;
}
.minCard{
    margin-right: 0.4rem;
    min-width: 8rem;
    height: 4.2rem;
}
.minCard .card-header ,.minCard .card-body{
    padding: 0;
}
.minCard .card-header p{
    color: #F4AC45;
    text-align: center;
}
/* .overflowSlots{
    max-height: 22rem;
} */
/* ============================= */
.imgCircle{
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
}
.txtLarge{
    font-size: 26px;
}
.available{
    border: 1px solid #C2C9D1;
    padding: 0.5rem 0.5rem 0.2rem .5rem;
    border-radius: 8px;
}
.navFootball .nav-item .nav-link.active{
    background: rgba(135, 190, 68, 0.1);
    color: #87BE44;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
  }

  .gmap_iframe {
    height: 400px !important;
}
.ui-widget.ui-widget-content{
    border:none;
}
.slideRange .ui-widget.ui-widget-content{
    border: 1px solid #c5c5c5;
}

.ui-datepicker td span, .ui-datepicker td a{
    width: 30px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
    border-radius: 50%;
    text-align: center;
    border: 1px solid #DFDFDF;
    background-color:white;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,html .ui-button.ui-state-disabled:active{
    background-color:#41AD49;
    color:white;
}
.ui-state-active{
    background-color: #41AD49;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color: #85C240;
    border: none;
}
.ui-datepicker .ui-datepicker-header{
    background-color: white;
    border: none;
}
.editPicker{
    padding: 1rem 0.5rem;
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.05);
}
.editPicker .ui-widget.ui-widget-content{
    margin: auto;
}
.minSlot{
    background-color: #eef1f5;
    border-radius: 15px;
    padding: 0.5rem;
    height: 48px;
}
.minSlot span{
    background-color: white;
    width: 67%;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    padding: 0.2rem 5px 0.2rem 5px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    color: #41AD49;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.form-select:focus{
    border: none;
    box-shadow: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: #41AD49;
}
.imgTag{
    width: 63px;
    height: 63px;
}
.bgPayment{
    background-color: #f7f7f7;
}
.specialOffer{
    border: 2px solid #87BE44;
}
.specialOffer p:first-child{
    background-color: #F4AC45;
    color: white;
}
.specialOfferLower{
    border: 2px solid #87BE44;
}
.specialOfferLower p:first-child{
    background-color: #41AD49;
    color: white;
}
.newSpecial{
    border: 1px solid #EBEEF2;
}
.newSpecial p:first-child{
    background-color: #F4AC45;
    color: white;
}
.form-control:focus{
    box-shadow: none;
}
.minSpecial{
    min-width: 7rem;
}
.specialOffer:focus, .btnTimeS:focus ,.specialOfferLower:focus ,
.btnDay:focus , .btnTime:focus ,.newSpecial:focus{
    box-shadow: 0 0 0 0.1rem rgb(71 198 7 / 61%);
}
/* ============================== */
@media screen and (max-width:767px){
    .cardPlayground .card-body{
        display: flex;
    }
    .imgAbsolute{
        display: none;
        position: relative;
        margin-top: 4rem;
        margin-right: auto;
        margin-left: auto;
        /* display: block; */
    }
    .jumbo{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .textLg{
        font-size: 18px;
    }
    .bgImage{
        margin: unset;
        margin-right: 1rem;
    }
    .willHide{
        display: none;
    }
    .cardList .card-img-top{
        border-radius: 20px 20px 0px 0px;
    }
    .swiper-container {
        width: 100%;
        padding: 0rem 1.5rem 0rem 1.5rem;
        position: relative;
        height: 100%;
    }
    .sliderStad img{
        height: 250px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
}
@media screen and (max-width:992px){
    .paddingTop{
        text-align: center;
    }
}
@media screen and (max-width:400px){
    .textlarge{
        font-size: 24px;
    }
}